<a href="https://colab.research.google.com/github/sofol-bit/LinSofoNEUR265/blob/main/notebooks/Fundamentals_02_03_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print isues

# Programming Fundamentals II: Data Structures

In this notebook, we'll explore different types of data structures that Python can use to store information, namely **lists and tuples**

## At the end of this notebook, you'll be able to:

* Compare & contrast the types of structures that Python uses to store data points
* Recognize & create lists, tuples, and dictionaries in Python
* Index, slice, cast, and mutate lists
* Understand the implications of mutability and object-oriented programming

## A _list_ is a mutable collection of ordered items, that can be of mixed type.

**Mutable** means that individual items in the object can be changed. Lists are mutable. Tuples and strings are not -- they're **immutable**.

Lists are created using square brackets `[ ]`, and individual elements are separated by commas.

In [88]:
# Create a list of 5 fruits
fruits = ['apple', 'kiwi', 'cherries', 'blackberries', 'mango']

### Useful list functions and methods

- Check the length of your list by using `len(my_list)`
- Use `my_list.append()` to add elements to a list
- Remove elements by value by using `my_list.remove('value')`
- Sort by using `my_list.sort()`

In [148]:
# Try different list functions
#len(fruits)
#fruits.append('banana')
#fruits.remove('apple')
#fruits.sort()
#print(fruits)
fruits
# How does the sort function sort your list?

['coconut', 'kiwi', 'cherries', 'blackberries', 'gooseberry']

In [106]:
# Try the following code:

fruits.sort(reverse=True)

# How is your list sorted now?

### List indexing & slicing

**Indexing** refers to selecting an item from within a collection (e.g., lists, tuples, and strings). Indexing is done by placing the **index number** in square brackets, directly after the list variable.

For example, if `my_list = [1,3,5]`, we can get the second value using `my_list[1]`. (Python starts indexing at zero!)

In [147]:
# Output the first value of your 'fruits' list

fruits[0]

# Output the fourth value of your 'fruits' list

fruits[4]

'gooseberry'

You can also index in the reverse direction - the final value in a list is `-1`, with the order of numbers decreasing in the reverse direction (for example, the second-to-last value in a list is `-2`, the value before that is `-3`, etc.)

### If we want multiple items, we can **slice** the list.

There are a few ways to slice:

1. We can **slice** a part of a list using the syntax `[start:stop]`, which extracts characters between index start (0) and stop (-1).

**Notes**

- `start` is __included__ then every element __until__ `stop` is included.
- Negative values count backwards through the list.

2. If we omit either (or both) of start or stop from `[start:stop]`, the default is the beginning and the end of the string, respectively, e.g. `[:3]`

3. We can also define the step size (instead of default 1) using the syntax `[start:stop:step]`

<b>Task:</b> For our list of fruits, create three different slices, and save them as different variables:

1. A slice of the first two fruits.
2. A slice of the middle three fruits.
3. A slice of the last fruit.

In [145]:
# Your code here!

fruits[:2]
fruits[1:3]
fruits[-1]

'gooseberry'

### Checking length

We can use the function `len( )` to check the length of lists.

**Note**: We can also use this to get the number of characters in a string!

In [134]:
# Check the length of your 'fruits' list!

len(a)

2

### Checking membership

We can use `in` to see if an item exists in a list. The `in` operator checks whether an element is present in a collection, and can be negated with `not` (e.g., `value not in list`).

In [138]:
# Is orange a fruit in your list?

'orange' in fruits

False

In [141]:
# Make some code to see if 'apple' is *not* included in your list
'apple' not in fruits

True

### Mutating lists

After definition, we can update members of our list _because lists are mutable!_

An example of this is below:

In [142]:
# Let's replace the first item in our fruits list with 'coconut'

fruits[0] = 'coconut'

<b>Task:</b> Replace the last item in your `fruits` list with 'gooseberry'

In [152]:
# Your code here

fruits[-1] = 'gooseberry'

TypeError: 'list' object is not callable

### Creating lists of lists

Sometimes, it's useful to create lists of lists. Often, if we import big datasets as lists, this is how it will be organized.

In [155]:
gene_1 = ['gene1',0.48,0.55]
gene_2 = ['gene2',0.38,0.85]
gene_3 = ['gene3',0.21,0.81]
all_genes = [gene_1, gene_2, gene_3]

# We can use this syntax to get a specific value
print(all_genes[0][-1])

TypeError: 'list' object is not callable

## A _tuple_ is an **immutable** collection of ordered items, that can be of mixed type.

* Tuples are created using parentheses.
* Indexing works similar to lists.

In [153]:
# Define a tuple
tup = (2, 'b', False)
tup[1]

'b'